.c-menu{
    display: flex;
    flex-direction: row;

    &__item{
        display: block;
        text-decoration: none;
        margin: 10px;
        cursor: pointer;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;

    &__item--idioma{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin: 10px;
        cursor: pointer;
        font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    }
    }

    &__logo{
        display: flex;
        justify-content: flex-start;
        width: 200px;
        height: 50px;
        margin: 50px;
    }

    
}