.c-menu{
    display: flex;
    flex-direction: row;

    &__item{
        display: block;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        text-decoration: none;
        cursor: pointer;
    }

    &__logo{
        display: block;
        width: 130px;
        height: 26px;
    }

    
}