$padding-values:(0px,4px,6px,8px,10px,12px,16px,20px,24px,32px,40px);

$margin-values:(0px,4px,6px,8px,10px,12px,16px,20px,24px,32px,40px);

$fontSize-values:(8px,10px,12px,14px,16px,18px,20px,24px,30px,40px,50px);

$font-main: Helvetica, sans-serif;
$primary-color: #e4a23f;

$colors:(
    "rojo":#FF0000,
    "verde":#00FF00,
    "azul":#0000FF
);

$lista:(3px,6px,7px,9px);

$mapa:(
    "a":enero,
    "b":febrero
);

$colores: (
   "principal": (#FFFFFF, #C8DAFE, #8FBAFE, #579DFF, #1F87FF, #0073E6, #015FAD, #024474, #02263C),
   "alternativo": (#FFFFFF, #FCE7CA, #F8CD9B, #F3AD68, #ED8835, #D96512, #AC470C, #792D06, #461502),
   "gris": (#FFFFFF, #E6E6E6, #C9C9C9, #B0B0B0, #949494, #7A7A7A, #5E5E5E, #454545, #292929),
   "blanco": (#FFFFFF, #FCFCFC, #FAFAFA, #F7F7F7, #F5F5F5, #F2F2F2, #F0F0F0, #EDEDED, #EBEBEB),
   "negro" : (#000000),
   "rojo": (#FFFFFF, #FDDDD9, #FAB8B2, #F8918C, #F56666, #F3453F, #F02B19, #D3250D, #AD260B),
   "verde": (#F4FBF8, #CBECDD, #9EDBBD, #75CC9E, #49BC78, #37955B, #27683C, #173F23, #07130A),
   "azul": (#FFFFFF, #C7DAFF, #8FBAFF, #579DFF, #1F87FF, #0073E6, #005FAD, #004475, #00273D),
   "amarillo": (#FFFFFF, #FAF7D1, #F6EBA7, #F1DD79, #ECC94B, #E7B51D, #C28E14, #946810, #66430B)
);

$paddings:(
    "0":"0px",
    "1":"4px",
    "2":"6px",
    "3":"8px",
    "4":"10px",
    "5":"12px",
    "6":"16px",
    "7":"20px"
);

$margins:(
    "0":"0px",
    "1":"4px",
    "2":"6px",
    "3":"8px",
    "4":"10px",
    "5":"12px",
    "6":"16px",
    "7":"20px"
);

$fontSize:(
    "0":"8px",
    "1":"10px",
    "2":"12px",
    "3":"14px",
    "4":"16px",
    "5":"18px",
    "6":"20px",
    "7":"24px"
)