@each $value in $lista {
    .g--padding-#{$value} {
      padding: $value;
    }
  }

  $clave:a;
  $valor:map-get($mapa, $clave);

.g--mapa-#{$valor}{
   color:red;
}

$keys:map-keys($mapa);

@each $key in $keys{
    .g--keys-#{$key}{
        color:aliceblue;
    }
}
